build/
doc-html/
psipp-doc/
swignifit/swignifit_raw.cxx
swignifit/swignifit_raw.py
pypsignifit/__version__.py
src/tests_all
src/profile_mcmc

*~
*.pyc
*.tar.gz
*.swp
*.exe
*.out
*.log
*.so
*.zip
scripts/nonstationarity/simulation_data/
scripts/nonstationarity/simulation_data_old/
scripts/nonstationarity/sim//
scripts/nonstationarity/test*
scripts/nonstationarity/condor_submit*
scripts/nonstationarity/submit*
scripts/nonstationarity/write_submission_condor*
documents/*.aux
documents/*.log
documents/*.pdf
swignifit/_swignifit_raw.so
cli/psignifit-bootstrap
cli/psignifit-diagnostics
cli/psignifit-mcmc
cli/psignifit-mapestimate
cli/cli_version.h
mpsignifit/psignifit_version.m
